# Virtual environment
.venv/
env/
venv/
ENV/

# PyTorch Model & Weights (Too large for GitHub)
recruitcheck_model/
recruitcheck_model.zip
results/

# Secrets
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
